@mixin texto-personalizado ($size, $weight, $family, $style, $color-text){

    font-size: $size;
    font-weight: $weight;
    font-family: $family;
    font-style: $style;
    color: $color-text;
}

@mixin background-body ($body-color){
    background-color: $body-color;
}