.button-basic  {
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px auto;
    display: block;

      &:hover{
        background-color: gray;
        color: white;
        transition: 300ms all;
      }
  }
  
  .button-report  {
    @extend .button-basic; // Extendendo a configuração pré-definida.
    background-color: #f2ff3f;
  }

  .button-default{
    @extend .button-basic; 
    background-color: #c32cff;
  }