.btn {
    width: 200px;
    padding: 10px 0;
    background: none;
    border: 0;
    border-radius: 10px;
    margin: auto;
}

.btn-laranja{
    @extend .btn;
    background-color: orangered;
}